[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorlog = "==6.10.1"
homeassistant = "==2024.6.0"
ruff = "==0.14.4"
py-my-bezeq = "==0.1.5"

[dev-packages]

[requires]
python_version = "3.12"
